@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif
}

@media only screen and (max-width: 480px) {
    .list {
        flex-direction: column;
    }
}

.main {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 1341px;
    background: #FFFFFF;
}

.card {
    position: relative;
    width: 357px;
    height: 120px;
    background: rgba(240, 74, 21, 0.2);
    border-radius: 6px;
}

.title {
    position: absolute;
    width: 201px;
    height: 52px;
    left: 18px;
    top: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #F04A15;
}

.time {
    position: absolute;
    width: 110px;
    height: 26px;
    left: 18px;
    bottom: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    color: #595959;
}

.line {
    position: absolute;
    width: 102px;
    height: 0px;
    left: 180px;
    top: 58px;
    border: 1px dashed #F04A15;
    transform: rotate(90deg);
}

.btn {
    position: absolute;
    width: 80px;
    height: 42px;
    left: 257px;
    top: 39px;
    background: #F04A15;
    border-radius: 22px;
}

.text-btn {
    position: absolute;
    width: 33px;
    height: 26px;
    left: 24px;
    top: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #FFFFFF;
}

.list {
    display: flex;
    gap: 10px;
    position: relative;
}

.bogoc {
    position: absolute;
    width: 22px;
    height: 12px;
    left: 386px;
    top: 524px;
    background: #ff1010;
}

.btn-next {
    position: absolute;
    width: 36px;
    height: 36px;
    left: -25px;
    top: 40px;
    background: #F04A15;
    border-radius: 1000px;
    display: none;
}

.icon-next {
    position: absolute;
    width: 16px;
    height: 16px;
    /* left: 152px;
    top: 683px; */
    margin-left: 6px;
    margin-top: 8px;
    background-image: url("./img/next.png");
}

.btn-pre {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1080px;
    top: 40px;
    background: #F04A15;
    border-radius: 1000px;
    display: none;
}

.icon-pre {
    position: absolute;
    width: 16px;
    height: 16px;
    /* left: 152px;
    top: 683px; */
    margin-left: 6px;
    margin-top: 8px;
    background-image: url("./img/pre.png");
}